/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  color: #d32f2f !important;
}

.snackbar-success {
  color: #43a047 !important;
}

.no-records {
  color: #888;
  font-style: italic;
  margin: 0 auto;
  width: 100%;
}